<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>fastpack</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
<string>Bottles</string>
<string>CommonServiceLocator</string>
<string>FubuCore</string>
<string>FubuLocalization</string>
<string>FubuMVC.References</string>
<string>FubuMVC.WebForms</string>
<string>FubuTestingSupport</string>
<string>FubuValidation</string>
<string>HtmlTags</string>
<string>log4net</string>
<string>structuremap</string>
<string>structuremap.automocking</string>
</Floats>
</ripple>
